@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExazlzaW02bTVpN3dyYnZnN2w3ZTBjZHI4MnlkM3dyM3FpaWVzenNkdSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/U56UKYAO8ToW8ycuDe/giphy.gif') no-repeat center center fixed;
    background-size: cover;
}

.header_text {
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: bold;
    color: rgb(10, 9, 9);
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8);
}
